.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear::after {
  content: '';
  display: table;
  clear: both;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.full-content {
  @extend .position-absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.full-screen {
  @extend .position-absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}